
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    font-family: sans-serif;
    
   
}
/* 1st layout */
.layoutone {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}
.containerone {
    width: 900px;
    padding-bottom: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 75px;
}
.headerlogo{
    font-size: 24px;
    color: #f9faf8;
}

.links {
    margin-right: 75px;
    font-size: 18px;
    color: #E5E7EB;
    
}
.listone {
    display: flex;
    list-style: none;
    gap: 10px;
}
.title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.parone {
    font-size: 18px;
    color: #E5E7EB;
}
.contentone {
    display: flex;
    justify-content: space-between;
    margin-left: 75px;

}
.content {
    display: flex;
    flex-direction: column;
    width: 300px;
}
.imageone {
    width: 300px;
    height: 150px;
    margin-right: 75px;
}
.buttonone {
    margin-left: 75px;
    border-radius: 5px;
    color: #E5E7EB;
    background-color: #3882F6;
    margin-top: 10px;
}

/* 2nd layout */

.headertwo {
    text-align: center;
    padding-top: 20px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
.containertwo {
    width: 900px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    
}
 .container {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 100px;
}
.images {
    border-radius: 5px;
}
.pic {
    width: 120px;
}
    

.images {
    width: 100px;
    height: auto;
}
.text {
    font-size: 18px;
}
/* third layout */

 .layoutthree { 
    background-color: #E5E7EB;
}
.containerthree {
    width: 900px;
    margin: 0 auto;
}
.block {
    width: 400px;
   margin: 0 auto;
   padding: 100px;
    
}
    
p {
    width: 400px;
    font-style: italic;
}
.thor {
    text-align: right;
    font-size: 24px;
}
/* 4th layout */
.containerfour {
    width: 900px;
    margin: 0 auto;
    
}
.boxfour {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    background-color: #3882F6 ;
    margin: 50px auto;
    padding: 20px 80px;
    border-radius: 5px;
}
.action {
    color: #f9faf8;
    font-size: 24px;
}
.parafour {
    color: #f9faf8;
}
.signup {
    background-color: #3882F6;
    color: #f9faf8;
    border-color: #f9faf8;
    border-radius: 5px; 
    width:max-content;
}
/* 5th layout */
.layerfive {
    background-color: #1F2937;
    display: flex;
    justify-content: center;

}
.copyright {
    text-align: center;
}

