
.layoutone {
    background-color: #1F2937;
  
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 75px;
}
.links {
    margin-right: 75px;
}
.listone {
    display: flex;
}
.contentone {
    display: flex;
    justify-content: space-around;
    margin-left: 75px;

}
.content {
    display: flex;
    flex-direction: column;
    width: 300px;
}
.imageone {
    width: 300px;
    height: 150px;
    margin-right: 75px;
}
.buttonone {
    margin-left: 75px;
}

/* 2nd layout */

.headertwo {
    text-align: center;
}
 .container {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    
}
.pic {
    width: 120px;
}
    

.images {
    width: 100px;
    height: auto;
    
}
/* third layout */

 .layoutthree { 
    background-color: #E5E7EB;
    
}
.block {
    width: 400px;
   margin: 0 auto;
   padding: 100px;
    
}
    
p {
    width: 400px;
   
    
    
}
.thor {
    text-align: right;
}
/* 4th layout */

.boxfour {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    background-color: #3882F6 ;
    margin: 50px auto;
    padding: 20px 80px;
}
.action {
    color: #f9faf8;
}
.parafour {
    color:  #f9faf8;
}
.signup {
    background-color: #3882F6;
    color: #f9faf8;
}
